body {
    font-family: 'Bungee', cursive;
}

.jumbotron {
    background-image: url("../images/pokemonbackground.png");
    background-repeat: repeat;
}

#outcome-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}